/* ------ Navigation ------ */
.navbar {
  @apply flex justify-between items-center py-3 sticky top-0 left-0 right-0 z-20 bg-white max-md:mx-[-16px] max-md:px-4 max-md:border-b max-md:mb-4
}


.navbar__container {
  @apply flex justify-between items-center
}

.navbar__logo {
  @apply text-base text-orange-500 font-black
}
/* ------ End of navigations ------ */

/* ------ Animations ------ */
/* ------ The element to apply the animation to ------ */
.animate__fadeUp,
.animate__fadeDown {
  transition: transform 0.3s, opacity 0.3s;
}

.animate__fadeUp {
  transform: translateY(0);
  opacity: 1;
}

.animate__fadeDown {
  transform: translateY(10rem);
  opacity: 0;
  pointer-events: none;
}
/* ------ End of Animations ------ */

/* ------ Mobile Menu ------ */
.menuMobile__container {
  @apply fixed z-10 bottom-0 right-0 left-0 px-5 py-4 bg-orange-500 rounded-2xl mx-2 my-2;
}

.menuMobile__content {
  @apply grid grid-cols-3 sm:grid-cols-6 items-center justify-center h-auto gap-5 text-sm cursor-pointer;
}

.menuMobile__list {
  @apply flex items-center flex-col gap-px text-white px-3 py-2 text-xs rounded-lg;
}

.menuMobile__list:hover {
  @apply bg-white text-orange-500;
}
/* ------ End Mobile Menu ------ */
